# Teste de conexão

In [2]:
# requirements
# !pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [37]:
import pymysql
import pandas as pd

In [38]:
# dados de credenciais apagados por segurança
conexao = pymysql.connect(
    host= '... .2.. .41',
    user= '...bo...',
    passwd='...',
    database= '...'
)

In [32]:
cursor = conexao.cursor()

In [33]:
cursor.execute('SHOW TABLES')

23

In [34]:
for i in cursor:
    print(i)

('IMDB_movies',)
('data_product',)
('data_product_sales',)
('data_store_cad',)
('data_store_sales',)
('tabela_teste',)
('viewIssue10',)
('viewIssue12',)
('viewIssue123123',)
('viewIssue13',)
('viewIssue15',)
('viewIssue16',)
('viewIssue18',)
('viewIssue20',)
('viewIssue21',)
('viewIssue22',)
('viewIssue220',)
('viewIssue2234',)
('viewIssue24',)
('viewIssue26',)
('viewIssue300',)
('viewIssue46',)
('viewIssueLooqbox',)

In [ ]:
cursor.execute('SELECT * FROM IMDB_movies')
result = cursor.fetchall()

# Processando dados

## Teste: consulta de tabela

In [49]:
cursor.execute("SELECT * FROM data_product")
resposta = cursor.fetchall()
type(resposta)

tuple

In [50]:
df_product_information = pd.DataFrame(list(resposta), columns=['PRODUCT_COD', 'PRODUCT_NAME', 'PRODUCT_VAL', 'DEP_NAME', 'DEP_COD', 'SECTION_NAME', 'SECTION_COD'])
df_product_information.head()

,PRODUCT_COD,PRODUCT_NAME,PRODUCT_VAL,DEP_NAME,DEP_COD,SECTION_NAME,SECTION_COD
0,10,Acido Tranexamico 250mg Generico EMS 12 Compri...,36.71,MEDICAMENTOS GENÉRICOS,10,CIRCULAÇÃO,40
1,11,Bissulfato de Clopidogrel 75mg Generico Teuto ...,66.51,MEDICAMENTOS GENÉRICOS,10,CIRCULAÇÃO,40
2,12,Cloridrato de Amiodarona 200mg Generico Biosin...,31.17,MEDICAMENTOS GENÉRICOS,10,CIRCULAÇÃO,40
3,13,Acido Tranexâmico 250mg Generico Legrand 12 Co...,36.71,MEDICAMENTOS GENÉRICOS,10,CIRCULAÇÃO,40
4,14,Cloridrato Oximetazolina Adulto 5mg/ml Genéric...,12.08,MEDICAMENTOS GENÉRICOS,10,GRIPES E RESFRIADOS,41

## Funções

In [39]:
# função usada para selecionar tabelas
def selectTable(tableName):
    cursor.execute(f"SELECT * FROM {tableName}")
    resposta = cursor.fetchall()
    return resposta

## Dados

In [40]:
tabelas = ['data_product_sales', 'data_store_cad', 'data_store_sales', 'IMDB_movies']

In [51]:
df_data_product_sales = pd.DataFrame(selectTable(tabelas[0]), columns = ['STORE_CODE', 'PRODUCT_CODE', 'DATE', 'SALES_VALUE', 'SALES_QTY'])

In [52]:
print(df_data_product_sales.shape)
df_data_product_sales.head()

(2173133, 5)

  STORE_CODE  PRODUCT_CODE        DATE SALES_VALUE SALES_QTY
0          1            18  2019-01-01      708.50        65
1          1            18  2019-01-02     1297.10       119
2          1            18  2019-01-03     1144.50       105
3          1            18  2019-01-04     1090.00       100
4          1            18  2019-01-05      893.80        82

In [53]:
df_data_store_cad = pd.DataFrame(selectTable(tabelas[1]), columns = ['STORE_CODE', 'STORE_NAME', 'START_DATE', 'END_DATA', 'BUSINESS_NAME', 'BUSINESS_CODE'])

In [54]:
print(df_data_store_cad.shape)
df_data_store_cad.head()

(20, 6)

   STORE_CODE STORE_NAME  START_DATE END_DATA BUSINESS_NAME  BUSINESS_CODE
0           1  Sao Paulo  2006-10-01                 Varejo              1
1           2    Chicago  2007-10-01                 Varejo              1
2           3       Roma  2008-10-01                 Varejo              1
3           4      Tokio  2009-10-01                 Varejo              1
4           5      Paris  2019-01-01            Proximidade              2

In [55]:
data_store_sales = pd.DataFrame(selectTable(tabelas[2]), columns = ['STORE_CODE', 'DATE', 'SALES_VALUE', 'SALES_QTY'])

In [56]:
print(data_store_sales.shape)
data_store_sales.head()

(35762, 4)

   STORE_CODE        DATE  SALES_VALUE  SALES_QTY
0           1  2014-11-23    111387.87       7227
1          10  2014-11-23     63256.35       4362
2          11  2014-11-23     62680.86       4257
3          12  2014-11-23     62680.86       4257
4          13  2014-11-23    111387.87       7227

In [45]:
df_IMDB_movies = pd.DataFrame(selectTable(tabelas[3]), columns = ['id', 'title', 'genre', 'director', 'actors','year','runtime','rating','votes','revenueMillions','metascore'])

In [46]:
print(df_IMDB_movies.shape)
df_IMDB_movies.head()

(1000, 11)

,id,title,genre,director,actors,year,runtime,rating,votes,revenueMillions,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8,757074,333,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7,485820,126,65.0
2,3,Split,"Horror,Thriller",M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7,157606,138,62.0
3,4,Sing,"Animation,Comedy,Family",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7,60545,270,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6,393727,325,40.0

# Salvando datasets em csv 

> ( não é necessário, mas faço para encurtar caminho nas consultas e não precisar rodar todas as linhas novamente por perda de conexão nesse momento.)

In [58]:
df_product_information.to_csv('docs_csv/data_product_info.csv', index=False)
df_data_product_sales.to_csv('docs_csv/data_product_sales.csv', index=False)
df_data_store_cad.to_csv('docs_csv/data_store_info.csv', index=False)
data_store_sales.to_csv('docs_csv/data_store_sales.csv', index=False)
df_IMDB_movies.to_csv('docs_csv/IMDB_movies.csv', index=False)